.form-block {
    .ant-form-text {
        word-break: break-all;
        white-space: pre-wrap;
    }
    .ant-typography-edit-content {
        line-height: 19px;
        padding-top: 10px;
        word-break: break-all;
        left: -5px;
        margin-top: -7px;
        margin-bottom: 6px;
        .ant-input {
            margin-bottom: 0;
            padding: 6px 11px 4px 4px;
            min-height: 31px;
        }
    }
    &--compact>.items-wrapper>.ant-col {
        margin-bottom: 4px !important;
    }
    &--compact>.items-wrapper>.ant-col>.ant-row {
        margin-bottom: 0 !important;
    }
}

.form-block.ant-form-inline {
    .ant-form-item-with-help {
        margin-bottom: 0;
    }
    .items-wrapper>.ant-col{
        margin-bottom: 24px;
    }
}
