{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "airbnb",
        "plugin:react/recommended"
    ],
    "settings": {
        "import/parser": "babel-eslint",
        "import/resolver": {
            "webpack": {
                "config": "./webpack.config.js"
            },
            "node": {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        },
        "react": {
            "createClass": "createReactClass",
            "pragma": "React",
            "version": "16.8.6"
        },
        "propWrapperFunctions": [
            "forbidExtraProps"
        ]
    },
    "rules": {
        "no-param-reassign": [
            "error",
            {
                "props": false
            }
        ],
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-undef": "warn",
        "no-unreachable": "warn",
        "no-unused-vars": "warn",
        "constructor-super": "warn",
        "valid-typeof": "warn",
        "linebreak-style": "off",
        "semi": [ "error", "never" ],
        "indent": [ "error", 4 ],
        "react/jsx-indent-props": [ "error", 4 ],
        "react/destructuring-assignment": "off",
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "react/prop-types": "off",
        "react/prefer-stateless-function": "off",
        "react/button-has-type": "off",
        "react/jsx-props-no-spreading": "off",
        "react/jsx-indent": [ "warn", 4 ],
        "react/static-property-placement": ["error", "static public field"],
        "max-len": ["error", { "code": 140, "tabWidth": 4, "ignoreComments": true, "ignoreTrailingComments": true }],
        "jsx-a11y/no-static-element-interactions": "off",
        "import/no-extraneous-dependencies": "off",
        "react/jsx-one-expression-per-line": ["error", { "allow": "literal" }],
        "no-bitwise": [
            "error",
            {
                "allow": [
                    "~"
                ]
            }
        ],
        "no-nested-ternary": "off",
        "no-unused-expressions": [
            "error",
            {
                "allowShortCircuit": true
            }
        ],
        "no-mixed-operators": [
            "error",
            {
                "groups": [
                    [ "+", "-", "*", "/", "%", "**" ],
                    [ "&", "|", "^", "~", "<<", ">>", ">>>" ],
                    [ "==", "!=", "===", "!==", ">", ">=", "<", "<=" ],
                    [ "&&", "||" ],
                    [ "in", "instanceof" ]
                ],
                "allowSamePrecedence": true
            }
        ],
        "react/jsx-filename-extension": "off",
        "jsx-a11y/no-noninteractive-element-to-interactive-role": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "to", "hrefLeft", "hrefRight" ],
            "aspects": [ "noHref", "invalidHref", "preferButton" ]
        }]
    },
    "globals": {
        "React": false,
        "utils": false,
        "describe": false,
        "it": false,
        "expect": false
    }
}