@sider-width: 220px;
@sider-width--ccollapsed: 80px;


:global {
    .ant-layout {
        height: 100%;
    }
    .ant-layout-header {
        padding: 0;
        height: 50px;
        line-height: 50px;
        color: #999;
        background-color: #f8f8f8;
    }

    .ant-layout-sider, .ant-layout-sider-dark {
        flex: 0 0 @sider-width !important;
        min-width: @sider-width !important;
        max-width: @sider-width !important;
        width: @sider-width !important;
        background: #2a3665 url("../../assets/images/bg-menu.png");
        background-size: cover;
        background-position: 0 100%;
    }
    .ant-layout-sider-collapsed {
        flex: 0 0 @sider-width--ccollapsed !important;
        min-width: @sider-width--ccollapsed !important;
        max-width: @sider-width--ccollapsed !important;
        width: @sider-width--ccollapsed !important;
    }
    .ant-layout-content {
        position: relative;
        overflow: auto;
    }
    .ant-layout-footer {
        padding: 15px;
    }
    .ant-layout-sider-children {
        overflow: auto;
    }
    
    .logo {
        height: 60px;
        width: 200px;
        overflow: hidden;
        img {
            display: block;
            height: 100%;
            margin: auto;
        }
    }
    .menu-list {
        position: absolute;
        top: 60px;
        bottom: 0;
        line-height: 50px;
        overflow: auto;
        overflow: overlay;
        
        &, & .ant-menu-sub {
            background: none;
        }
        
        .ant-menu-inline.ant-menu-sub{
            background: none;
            box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1);
        }
        
        /* 侧边栏滚动条样式 */
        &::-webkit-scrollbar {
            background: unset;
            width: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: rgba(255,255,255,0);
            border-radius: 5px;
        }
        
        &:hover::-webkit-scrollbar-thumb:active {
            background: rgba(255,255,255,0.6);
        }
        
        &:hover::-webkit-scrollbar-thumb {
            background: rgba(255,255,255,0.2);
        }
        
        &.ant-menu-submenu-popup {
            background: #2b3c78;
        }
        
        &, & .ant-menu-sub{
            color: white;
        }
        & .ant-menu-item,
        & .ant-menu-submenu-title {
            color: white;
        }
        & .ant-menu-item-active,
        & .ant-menu-item:hover,
        & .ant-menu-submenu-active,
        & .ant-menu-submenu-open,
        & .ant-menu-submenu-selected,
        & .ant-menu-submenu-title:hover {
            color: rgb(94, 150, 250);
        }
    }
    .ant-menu-submenu-popup .ant-menu-item-selected,
    .menu-list .ant-menu-item-selected {
        span {
            color: rgb(94, 150, 250);
        }
        background-image: linear-gradient(135deg,rgba(94,150,250,.25),rgba(94, 150, 250, .1));
        background-color: unset !important;
    }
    .menu-list .ant-menu-submenu-open, .menu-list .ant-menu-submenu-selected{
        color: rgb(94, 150, 250) !important;
        &>.ant-menu-submenu-title {
            color: rgb(94, 150, 250) !important;
        }
    }

    #main-content {
        padding: 24px;
    }
    
}