.search-bar {
    background: #fff;
    border-radius: 6px;
    padding: 24px 56px;
    padding-bottom: 0;
    margin-bottom: 24px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);

    .search-bar-extra,
    .search-bar-operate {
        flex: 1;
        text-align: right;

        &>.ant-form-item {
            margin-right: 0;
        }
    }

    &>.ant-form>.ant-form-item {
        margin-bottom: 24px;
    }

    .ant-col {
        white-space: nowrap;
    }

    .items-wrapper {
        &>.ant-col {
            margin-right: 56px;
        }

        &>.ant-col.search-bar-extra,
        &>.ant-col:nth-last-child(1) {
            margin-right: 0;
        }
    }

    &.search-bar-advanced {
        .items-wrapper {
            &>.ant-col {
                margin-right: 0;
            }


            &>.advanced-search-button~.ant-col {
                margin-right: 56px;
            }

            &>.ant-col.search-bar-extra,
            &>.ant-col:nth-last-child(1),
            &>.ant-col:nth-last-child(2) {
                margin-right: 0;
            }
        }
    }

    .collapse-btn {
        line-height: 32px;
    }

    .search-bar-children {
        padding-bottom: 24px;
    }

    /* button之间默认间隔 */
    .ant-btn+.ant-btn {
        margin-left: 16px;
    }

    .ant-btn-link+.ant-btn {
        margin-left: 16px;
    }

    .ant-btn+.ant-btn-link {
        margin-left: 0;
    }
}