:global {
    /* fix: 表单提示导致表单项显示位置错位 */
    .render-form {
        .ant-row {
            display: inline-block;
            width: 100%;
            vertical-align: top;
        }
        .ant-form-text {
            line-height: 19px;
            padding-top: 10px;
            padding-right: 17px;
            word-break: break-all;
        }
        .ant-typography-edit-content {
            line-height: 19px;
            padding-top: 10px;
            word-break: break-all;
            left: -5px;
            margin-top: -7px;
            margin-bottom: 6px;
            .ant-input {
                margin-bottom: 0;
                padding: 6px 11px 4px 4px;
                min-height: 31px;
            }
        }
    }

    .render-form--readonly {
        .ant-form-item {
            margin-bottom: 0;
        }
        .ant-form-explain-holder {
            display: none;
        }
    }
    .ant-form-item--readonly {
        margin-bottom: 0;
    }

    /* 表格操作列, text-button左对齐 */
    .ant-table-row td .text-button {
        padding: 0;
        margin-right: 7px;
    }
    .ant-table-row td .text-button:last-child {
        margin-right: 0;
    }

}